EXPAND_S3_KEY=
EXPAND_S3_SECRET=
EXPAND_S3_FOLDERS=<s3-bucket>|/usr/share/jenkins/secrets
LSDEV_JOB_WRAPPER_GIT_URL=https://github.com/sillsdev/ci-builder-scripts
LSDEV_JOB_WRAPPER_GIT_BRANCH=master
LSDEV_JENKINS_URL=http://192.168.70.221
LSDEV_JENKINS_ADMIN_EMAIL=
